body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
    color: #006DFF;
    height: 100%;
    h2{
        color: #EF3E42;
        text-transform: uppercase;
    }
}